<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2 breadcrumb-new">
        <h3 class="content-header-title mb-0 d-inline-block">{{page_title}}</h3>
        <div class="row breadcrumbs-top d-inline-block">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">{{home_title}}</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">page_title</a>
                    </li>
                    <li class="breadcrumb-item active"><a href="#">{{page_title3}}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12">
        <div class="dropdown float-md-right">
            <button class="btn btn-danger dropdown-toggle round btn-glow px-2" id="dropdownBreadcrumbButton"
                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownBreadcrumbButton"><a class="dropdown-item"
                                                                                     href="#"><i
                    class="la la-calendar-check-o"></i> Calender</a>
                <a class="dropdown-item" href="#"><i class="la la-cart-plus"></i> Cart</a>
                <a class="dropdown-item" href="#"><i class="la la-life-ring"></i> Support</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
            </div>
        </div>
    </div>
</div>


<ol class="breadcrumb">
    <li *ngFor="let breadcrumb of breadcrumbs$ | async"
        class="breadcrumb-item">
        <a [routerLink]="[breadcrumb.url, breadcrumb.params]">
            {{ breadcrumb.label }}
        </a>
    </li>
</ol>