<div class="row">

    <a class="btn btn-success round btn-glow" routerLink="/create_article"
       style="margin-bottom: 30px;margin-left: 15px">
        Create New Article
    </a>


</div>

<section id="configuration">

    <div class="row">

        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Article</h4>
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <table class="table table-striped table-bordered zero-configuration"
                               datatables="ng"
                               dt-options="dtOptions" ng-if="articles">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Title in English</th>
                                <th>Text in Arabic</th>
                                <th>Title English</th>
                                <th>Text Arabic</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let article of articles; let i = index">
                                <td>{{article.id}}</td>
                                <td>{{article.title_en}}</td>
                                <td>{{article.text_en}}</td>
                                <td>{{article.title_ar}}</td>
                                <td>{{article.text_ar}}</td>
                                <td>
                                    <button style="margin: 3px" class="btn btn-danger"
                                            (click)="deleteArticle(article)"><i
                                            class="icon-trash"></i></button>
                                    <button style="margin: 3px" class="btn btn-success"
                                            routerLink="/update_article/{{article.id}}"><i
                                            class="ft-edit"></i></button>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name in English</th>
                                <th>Name in Arabic</th>
                                <th>Desc En</th>
                                <th>Desc Ar</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
